.blog__item {
    position: relative;
}
.blog__item-row {
    margin-bottom: $size-xxx;
}
.blog__item-readmore {
    font-size: $size-lg;
}
.blog__item--link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog__pagination {
    .current {
        color:black;
        font-weight: bold;
    }
    a {
        font-weight: bold;

        &.next, &.prev {
            color: $color-primary;
        }
    }
}
.searchform {
    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input[type=text] {
        margin-right: 10px;
        padding: 5px;
    }
    input[type=submit] {
		@extend .btn;
		@extend .bg--secondary;
    }
}