.hero__container {
    background-size: cover;
	background-position: center;
	
    @media (min-width:$md) {
        background-attachment: fixed;
	}
	
    background-color:#222;
    position: relative;
    min-height: 49vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
	overflow: hidden;
	
    .container {
        position: relative;
        z-index: 1;
    }
}

.hero__title {
    font-size: 300%;
    text-shadow: 5px 5px 12px rgba(0,0,0,0.9);
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
}

.hero__tint {
    position: absolute;
    width: 100%;
    height: 100%;

}
.hero__tint--dark {
    background-color: rgba(3,3,3,0.5);
}
.hero__tint--curve {
    background-image: url(../img/heading-triangle.svg);
    filter: brightness(75%);
    background-size:cover;
    background-position: bottom left;
}
.hero__tint--primary {
    background: rgba($color-primary, 0.5);
}

.hero__container--post {
    background-size: cover;
    background-position: center;
    background-color:#222;
    position: relative;
    padding: 23% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        position: relative;
        z-index: 1;
    }
}
