
.full-height {
	overflow: auto;
	height: 63vh;
}

.full-height__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
	text-align: center;
	height: 100%;
    color: #fff;
}

.full-height__content {
	
	& > h1 {
		font-size: 400%;
		margin-top: 0;

		@include max-width($nav-breakpoint) {
			font-size: 300%;
		}
	}

	& > p.xxl {
		font-size: 150%;
	}

	a {
		color: #fff;
		text-decoration: underline;
	}
}