/* SETUP */
/*================ Logos ================*/
// THESE SHOULD GET OVERRIDDEN IN VARIABLES
$logo-main: red !default; // The logo image url
$logo-width-to-height: 3.43624161 !default;
$logo-height-sm: 30px !default;
$logo-height-lg: 30px !default;


/*================ Navbar ================*/

$nav-breakpoint: $page-width;

$navbar-height-sm: 50px !default;

$navbar-height-lg: 60px !default;

/*================ MOBILE & DESKTOP SHARED ================*/
.navbar__container{
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 0; left: 0;
}
.admin-bar .navbar__container {
	top: 32px;
	@media(max-width: 765px) {
		top: 46px;
	}
}


.navbar__bg {
	position: absolute;
	width: 100%; height: 100%;
	left: 0; top: 0;
	background-color: #fff;
	z-index: 1;
}

.navbar--margin {
	margin-top: $navbar-height-lg;
	@media (max-width: $nav-breakpoint) {
		margin-top: $navbar-height-sm;
	}
}
.navbar--padding {
	padding-top: $navbar-height-lg;
	@media (max-width: $nav-breakpoint) {
		padding-top: $navbar-height-sm;
	}
}

@media (max-width:$nav-breakpoint) {
	.navbar--margin {
		margin-top: $navbar-height-sm;
	}
	.navbar--padding {
		padding-top: $navbar-height-sm;
	}
}

.navbar--dark .navbar__bg {
	background-color: $color-dark-grey;
}
.navbar--black .navbar__bg {
	background-color: #000;
}

.navbar__menu {
	position: relative;
	z-index: 2;
	ul {
		@extend %reset-list;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.menu-item {
		display: block;
		a {
			color: $color-black;
			&:hover {
				color: $color-primary;
				text-decoration: none;
			}
		}
	}
}

.navbar__menu {
	.menu-item-has-children {
		@include min-width($nav-breakpoint) {
			overflow: visible;
			.navbar__sub-menu {
				display: block;
				pointer-events: none;
				opacity: 0;
				background: white;
				position: absolute;
				top: 100%;
				left: 100%;
				width: 250px;
				padding-left: $size-md;
				padding-right: $size-md;
	
				box-shadow: 0px $size-md $size-md (-$size-md/2) rgba(30, 30, 53, 0.5);
	
				transition: left 0.5s ease, opacity 0.5s ease;
			}
	
			&:hover {
				.navbar__sub-menu {
					pointer-events: unset;
					opacity: 1;
					left: 0%;
				}
			}
		}

	}
}



/* prevent nested submenus */
.navbar__sub-menu > li > .navbar__sub-menu {
	display: none;
}
.navbar__toggle {
	display: none;
}
.navbar__toggle button {
	margin-right: 25px;
}
/*================ MOBILE NAV ================*/
@include max-width($nav-breakpoint) {

	body {
		//padding-top: $navbar-height-sm;
	}

	.navbar__container > .container {
		padding: 0;
	}

	.navbar__container> .container > .row > .desktop {
		display: none;
	}

	.navbar__logo > a {
		height: $logo-height-sm;
		width: $logo-height-sm * $logo-width-to-height;
	}

	.navbar__toggle {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		cursor: pointer;
		position: relative;
		z-index: 1001;

		height: $navbar-height-sm;
		padding-right: $size-lg;

		i {
			font-size: 200%;
			color: $color-black;
			margin-left: 16px;
		}
	}

	.navbar__items {
		position: absolute;
		top: $navbar-height-sm;
		left: -100%;
		transition: left 0.5s ease;

		width: 100%;
		background: white;
		box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.25), 0px 5px 2.5px -2.5px rgba(0,0,0,0.25) inset;

		max-height: 80vh;
		overflow-y: auto;

		li {
			padding: $size-lg;
			margin: $size-md 0;
		}
	}

}

@keyframes wobble {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-25deg);
	}
	50% {
		transform: rotate(25deg);
	}
	75% {
		transform: rotate(-25deg);
	}
	100% {
		transform: rotate(0deg);
	}
}


/*================ DESKTOP NAV ================*/
@include min-width($nav-breakpoint) {
	
	.navbar__container> .container > .row > .desktop {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navbar__container{
	    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	}
	.navbar__nav {
		position: relative;
		height: 100%;
		z-index: 10;
		margin-right: $gutter-md;
	}

	.navbar__menu {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	.navbar__menu .navbar__menu-item {
		height: 100%;
		margin: 0 10px;
		line-height: $navbar-height-lg;

		&:hover > a {
			background: rgba(white, 0.5);
		}

		& > a {
			line-height: $navbar-height-lg;
			display: inline-block;
			padding: 0 $size-lg;
			height: 100%;
			transition: background-color .3s ease;
			position: relative;
			font-weight: lighter;
		}
		&:hover > a {
			//background-color: $color-primary;
			color: $color-black;
		}

		@keyframes navbar-in {
			0% {
				left: 0%;
				width: 0%;
			}
			100% {
				left: 0%;
				width: 100%;
			}
		}
		@keyframes navbar-out {
			0% {
				left: 0%;
				width: 100%;
			}
			100% {
				left: 100%;
				width: 0%;
			}
		}

		position: relative;
		&:after {
			display: block;
			content: " ";
			position: absolute;
			top: 100%;
			left: 100%;
			height: 5px;
			margin-top: -5px;
			background: white;
			animation-name: navbar-out;
			animation-duration: 0.5s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;

			transition: width 0.5s ease-out, left 0.5s ease-out;
		}
		&:hover {
			&:after {
				animation-name: navbar-in;
			}
		}
	}

	.navbar__container> .container > .row > .col.navbar__button--container {
		margin: 0 0 0 0;
		position: relative;
		z-index: 10;
		font-size: 19px;
		& > .btn {
			border-radius: 25px;
			padding: 12px 20px;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.navbar__sub-menu {
		display: none;
	}

	.navbar__nav > .navbar__menu > .menu-item-has-children {
		position: relative;
	}
	.navbar__nav > .navbar__menu > .menu-item-has-children > .sub-menu {
		position: absolute;
		top:100%;
		left: 0;
		width: 120px;
		background: rgba(white, 0.5);
		color: white;
		list-style: none;
		padding: 0;
		text-align: center;
		li, a {
			display: block;
		}
		a {
			color: black;
			text-shadow: none;
			padding: 10px;
			margin: 1px;
			&:hover {
				background: rgba(#000, 0.2);
			}
		}
	}
	
	@keyframes sub-menu-in {
		0% {
			margin-left: -50px;
			opacity: 0;
		}
		100% {
			margin-left: 0px;
			opacity: 1;
		}
	}
	.navbar__nav > .navbar__menu > .menu-item-has-children > .sub-menu {
		opacity: 0;
		transition: opacity 0.5s ease;
	}

	.navbar__nav > .navbar__menu > .menu-item-has-children:hover > .sub-menu {
		display: block;
		animation-name: sub-menu-in;
		animation-iteration-count: 1;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}

	.navbar__nav .menu-item-has-children > a {
		&:after {
			content: " \f107";
			margin: 0 5px;
			font-weight: 900;
			font-family: "Font Awesome\ 5 Free";
		}
	}

	.navbar--transparent .navbar__nav .current-menu-item {
		text-shadow: 0px 0px 10px #fff;
	}
}

/*================ NAVBAR DROPDOWN ================*/
.navbar__dropdown {
	position: fixed;
	height: 100%;
	width: 100%;
	top:0;
	right: -100%;
	transition: right 0.75s ease;
	z-index: 1000;
	background: rgba($color: $color-primary, $alpha: 0.95);
	font-weight: normal;
	font-size: 150%;
	overflow-y: auto;
	
	& > ul {
		align-items: center;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		position: absolute;
		top: 70px;
		left: 0;
	}
	& > ul > li {
		width: 100%;
		display: block;
		text-align: center;
		ul {
			padding: 0;
		}
		a {
			padding: 5px 0;
			display: block;
			margin: 10px 0;
			color: white;
			&:hover {
				background: rgba(0,0,0,0.25);
				color: white;
			}
		}
	}
}
.navbar__dropdown--close {
	display: block;
	width: 84%;
    text-align: right;
	padding: 10px 1%;
	cursor: pointer;
	color: white;
	font-size: 200%;
}
.navbar__dropdown--active {
	overflow: hidden;
}
.navbar__dropdown--active .navbar__items {
	left: 0%;
}

/*================ NAVBAR MODIFIERS ================*/
//Fixed navbar
.navbar--fixed header.navbar__container{
    position: fixed;
	.navbar__bg {
		transition: background-color 1s ease;
	}
}

//Black navbar
.navbar--black .navbar__container.navbar__menu-item > a {
    color:white;
}
.navbar--black .navbar__container.navbar__bg {
    background: rgba(0,0,0,0.5);
}
.navbar--black .navbar__logo {
    filter: invert(1);
}
.navbar--black .navbar__nav > .navbar__menu > .menu-item-has-children > .sub-menu {
	background: rgba(0,0,0,0.5);
	color: white;
}

//Translucent navbar
.navbar--translucent .navbar__container.navbar__menu-item > a {
	color: $color-black;
	&:hover {
		background: transparent;
		color: black;
	}
}
.navbar--translucent .navbar__container.navbar__toggle  i {
	color: $color-black;
}
.navbar--translucent .navbar__bg {
    background: rgba(255,255,255,0.8);
}
.navbar--translucent .navbar-telegram {
	border-color: $color-primary;
	color: $color-primary;
	&:hover {
		color: #fff;
	}
}
.navbar--translucent .navbar__menu > .navbar__menu-item {
	&:after {
		background: $color-primary-dark;
	}
}

//Transparent navbar
.navbar--transparent .navbar__container.navbar__menu-item > a {
	color: white;
	text-shadow: 2px 2px 4px #000;
	&:hover {
		background: transparent;
	}
}
.navbar--transparent .navbar__bg {
    background: rgba(255,255,255,0);
}
.navbar--transparent .navbar__container.navbar__toggle i {
	color: white;
}
.navbar--transparent .navbar__container{
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
.navbar--transparent .navbar__logo {
    filter: invert(1);
}
.navbar--transparent .navbar__nav > .navbar__menu > .menu-item-has-children > .sub-menu {
	color: white;
	background: rgba(255,255,255,0.5);
}

.navbar--transparent .navbar__nav > .navbar__menu > .menu-item-has-children > .sub-menu,
.navbar--translucent .navbar__nav > .navbar__menu > .menu-item-has-children > .sub-menu {
	& .navbar__menu-item > a {
		color: #fff;
	}
	background: $color-primary;
}


.no-navbar {
	.navbar--margin,
	&.navbar--margin {
		margin-top: 0 !important;
	}
	.navbar--padding,
	&.navbar--padding {
		padding-top: 0 !important;
	}
	.navbar__container {
		display: none !important;
	}
}