.btn {
	padding: $button-padding-vertical $button-padding-horizontal;
	&.btn--large {
		padding: $button-lg-padding-vertical $button-lg-padding-horizontal;
	}
	
    cursor: pointer;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    position: relative;

	background: $color-primary;
    color: white;
    transition: background .5s ease, color .5s ease;


    &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin-top: 10px;
        border-bottom: 1px solid $color-primary-dark;
	}
	
	&.bg--secondary:after {
        border-bottom: 1px solid $color-secondary-dark;
	}

    &:hover {
        background: $color-primary-dark;
        color: #fff;
        text-decoration: none;
        
        &.bg--secondary {
            background: $color-secondary-dark;
        }
    }
}

.invisibutton {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}