
html {
	font-family: $font-body;
	font-weight: $font-weight-medium;
	font-size: 1.2em;
	color: $color-text;
}

.content__container {
	font-size: 1.1em;
}

button, input, optgroup, select, textarea {
	font-family: $font-body;
}

body {
	background-color: white;
}

a {
	color: $color-primary;
	text-decoration: none;

	&:hover {
		color: $color-primary;
		text-decoration: underline;
	}
}

.content__container {
	p > a:not(.btn) {
		border-bottom: 2px solid rgba($color-primary, 0.26);
		transition: border-bottom-color 0.5s ease-in-out;

		&:hover {
			text-decoration: none;
			border-bottom-color: rgba($color-primary, 1);
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	border: 0;
	border-top: 1px solid $color-hr;
	width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
	letter-spacing: 1px;
}

h1.xxl {
	font-size: 3em;
}
.subtitle--h1 {
	font-size: 29px;
	font-weight: $font-weight-light;
}

.section__title {
    font-weight: $font-weight-light;
	font-size: 54px;
	margin: $gutter-md 0 60px 0;
	text-align: center;
	
	&.lg {
		font-size: 46px;
	}
	&:after {
		content: "";
		background: $color-primary;
		height: 3px;
		width: 20%;
		display:block;
		margin: 0 auto;
		margin-top: 18px;
		margin-bottom: 18px;
	}
	&.section__title--left {
		text-align: left;
	}
	&.section__title--white:after {
		background: #fff;
	}
}
.subtitle--h2 {
	font-size: 27px;
	font-weight: $font-weight-light;
	margin: $gutter-md auto;
    max-width: 960px;
}

.column__title {
	font-size: 35px;
	font-weight: $font-weight-light;
}

p {
	font-weight: 300;
	line-height: $line-height;

	&.lg {
		font-size: 1.3em;
	}
}

input, textarea, select {
	font-weight: $font-weight-medium;
}

.small, .sm {
	font-size: 85%;
}

.section {
	overflow: auto;
}

// This comes from previous CMS content
span.bold {
	font-weight: $font-weight-bold;
}