.input--text {
    border: 2px solid $color-light-grey;
    padding: $size-md $size-lg;
}

.form--horizontal .field-group {
    display: inline-block;
}

.form--horizontal button {
    vertical-align: middle;
}

.wpcf7-text, .wpcf7-textarea {
    width: 100%;
    border: 1px solid $color-light-grey;
    padding: $size-sm $size-md;
}