#nav_toggle {
    cursor: pointer;
}

.navigation__container {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    padding-top: 125px;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba($color-primary, 0.69);
    color: white;
    transition: left 0.75s ease;

    
	.menu-item-has-children > a > i {
		transform: rotate(0deg);
		transition: 0.5s ease;
		margin: 0 10px;
    }
    .navbar__menu-item--active.menu-item-has-children > a > i {
        transform: rotate(180deg);
    }
    .icon-menu {
        a {
            color: white;
        }
    }

    
    .menu-item {
        & > a {
            color: white;
            transition: color 0.5s ease;
            
            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.navbar__menu {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    list-style: none;
    padding: 0;
    width: 100%;

    a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 20px;
        font-size: $size-xl;
        line-height: 46px;
        @media (max-width: $lg) {
            line-height: 30px;
            font-size: $size-lg;
        }
    }
    ul {
        width: 100%;
        padding: 0;
        list-style: none;
    }
    .sub-menu {
        height: 0px;
        transition: height 0.5s ease;
        overflow: hidden;
        display: block;
        li {
            background-color: rgba(0,0,0,0.15);
            &:hover {
                background-color: rgba(255,255,255,0.15);
            }
        }
    }
    /*.navbar__menu-item--active .sub-menu {
    }*/
}

.navbar--container {
    position: relative;
    z-index: 10000;
    .row.flex--center {
        margin-bottom: 0;
    }
    .col-xs-9 {
        margin-bottom: 0;
    }
}
.navbar--toggled {
    overflow: hidden;
    .navigation__container {
        left: 0%;
    }
}