
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    border-radius: 2px;
    border: 1px solid $light-grey;
    box-shadow: none;
    padding: 0.41667em;
    width: 100%;
    margin-bottom: 20px;
}

input[type="submit"].button {
	margin-top: 0;
}

span.wpcf7-not-valid-tip {
	margin-top: -0.75em;
	color: $primary;
}

div.wpcf7-response-output {
	margin: 0; padding: 0;
}

div.wpcf7-validation-errors {
	border: none;
}

div.wpcf7-mail-sent-ok {
	border: none;
}