// quick n dirty grid ---

.space-evenly {
	display: flex;
	justify-content: space-between;
	align-items: center;

	& > img {
		overflow: hidden;
	}
}

$padding-right-extra: 30px;

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	clear: both;
	margin-bottom: 10px;
	&.aligned {
		align-items: center;
	}

	& > .columns {
		flex: 0 0 auto;
		width: 100%;
		&.right {
			float: right;
			text-align: right;
		}
		&.bare {
			padding: 0;
		}
	}

	& > .columns.xs-1 {
		width: 8.33%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}
	& > .columns.xs-2 {
		width: 16.66%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}
	}
	& > .columns.xs-3 {
		width: 25%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}
	& > .columns.xs-4 {
		width: 33.33%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}
	& > .columns.xs-5 {
		width: 41.66%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}
	& > .columns.xs-6 {
		width: 50%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}
	& > .columns.xs-7 {
		width: 58.34%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}
	& > .columns.xs-8 {
		width: 66.67%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}
	& > .columns.xs-9 {
		width: 75%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}
	& > .columns.xs-10 {
		width: 83.34%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}
	& > .columns.xs-11 {
		width: 91.67%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}
	& > .columns.xs-12 {
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
		&.pad-right {
			padding-right: $padding-right-extra;
		}

	}

	@include min-width($sm) {

		& > .columns.small-1 {
			width: 8.33%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-2 {
			width: 16.66%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-3 {
			width: 25%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-4 {
			width: 33.33%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-5 {
			width: 41.66%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-6 {
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-7 {
			width: 58.34%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-8 {
			width: 66.67%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-9 {
			width: 75%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-10 {
			width: 83.34%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-11 {
			width: 91.67%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.small-12 {
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
	}

	@include min-width($md) {

		& > .columns {
			// padding-right: 15px;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}

		& > .columns.medium-1 {
			width: 8.33%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-2 {
			width: 16.66%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-3 {
			width: 25%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-4 {
			width: 33.33%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-5 {
			width: 41.66%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-6 {
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-7 {
			width: 58.34%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-8 {
			width: 66.67%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-9 {
			width: 75%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-10 {
			width: 83.34%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-11 {
			width: 91.67%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.medium-12 {
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
	}

	@include min-width($lg) {

		& > .columns.large-1 {
			width: 8.33%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-2 {
			width: 16.66%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-3 {
			width: 25%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-4 {
			width: 33.33%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-5 {
			width: 41.66%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-6 {
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-7 {
			width: 58.34%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-8 {
			width: 66.67%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-9 {
			width: 75%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-10 {
			width: 83.34%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-11 {
			width: 91.67%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}
		& > .columns.large-12 {
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;
			&.pad-right {
				padding-right: $padding-right-extra;
			}

		}


		& > .columns.large-offset-7 {
			margin-left: 58.33333%;
		}
	}

}



