// page-header / navbar  FUNCTIONALITY -----------------

$navbar-padding-mobile: 10px;
$navbar-button-size: 40px;
$navbar-height-mobile: $navbar-button-size + ($navbar-padding-mobile * 2);

$navbar-padding-desktop: 20px;
$navbar-button-desktop: 40px;
$navbar-height-desktop: $navbar-button-desktop + ($navbar-padding-desktop * 2);

// .page-header-spacer {
// 	display: none;
// }

.page-header {
	position: absolute;
	z-index: 12;
	width: 100%;

	.brand {
		position: absolute;
		z-index: 100;
	}
}

.page-header > .nav-toggle {

	$navToggleOffsetY: 1px;
	$navToggleSize: $navbar-button-size - ($navToggleOffsetY * 2);
	$navToggleBarHeight: 7px;
	$navToggleSpacing: ($navToggleSize - ($navToggleBarHeight * 3)) / 2;

    @extend .hide-md-up;

    position: absolute;
    z-index: 100;
    width: $navToggleSize + ($navToggleOffsetY * 2);
    height: $navToggleSize;
    right: $navbar-padding-mobile;
    top: $navbar-padding-mobile;

    &:hover {
    	cursor: pointer;
    }

    & > span {
		position: absolute;
		width: 100%;
		background: $primary;
		height: $navToggleBarHeight;
		border-radius: $navToggleBarHeight;
		left: 0;

		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
    }
    &.open > span {
    	// background-color: rgba(255,255,255,0.5);
    }
	& > span:nth-child(1) {
	  top: $navToggleOffsetY;
	}

	& > span:nth-child(2), & > span:nth-child(3) {
	  top: $navToggleOffsetY + $navToggleSpacing + $navToggleBarHeight;
	}

	& > span:nth-child(4) {
	  top: $navToggleOffsetY + ($navToggleSpacing + $navToggleBarHeight) * 2;
	}

	&.open > span:nth-child(1) {
	  top: $navToggleOffsetY + $navToggleSpacing + $navToggleBarHeight;
	  width: 0%;
	  left: 50%;
	}

	&.open > span:nth-child(2) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	&.open > span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}

	&.open > span:nth-child(4) {
	  top: $navToggleOffsetY + $navToggleSpacing + $navToggleBarHeight;
	  width: 0%;
	  left: 50%;
	}
}


.page-header > .navbar {
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 3;
	margin: auto;
	padding: 30px 12vw;
	width: 100%;
	left: 0;
	right: 0;
	list-style: none;
	box-shadow: $basic-shadow;
	background: $black;

	transform: translateY(-100%);
	transition: 
		transform 0.3s ease,
		opacity 0.3s ease;

	&.open {
		transform: translateY(0);
		opacity: 1;
		z-index: 3;

		padding-top: $navbar-height-mobile + 30px;
	}
	
	& > ul {

		& > li {
			font-weight: 300;
			display: block;
			margin: 0;
			border-bottom: $hairline-border;
			&:last-child {
				border-bottom: none;
			}

			& > a {
				display: block;
				padding: 10px 0;
				text-decoration: none;

			}
		}
	}
}


//  header on desktop devices 
@include min-width($md) {

	.page-header {
		position: absolute;
		z-index: 10;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
	}

	.page-header-spacer {
		display: block;
		height: $navbar-height-desktop;
	}

	.navbar > .brand {
		left: unset;
		right: unset;
	}

	.page-header > .navbar, .page-header > .navbar.open {

		opacity: 1;
		display: inline-block;
		width: auto;
		left: unset;
		z-index: 6;
		top: 0;
		transform: translateY(0);
		padding: 0 0 0 60px;
		text-align: right;
		background-color: transparent;
		box-shadow: none;

		& > ul {
			display: inline-block;

			& > li {
				display: inline-block;
				border: none;
				margin: 0;

				& > a {
					display: inline-block;
					// line-height: $navbar-height-desktop;
					margin: 0 10px;
					padding: 0;
				}
			}
		}
	}

}



// page-header / navbar  STYLE -----------------


.page-header {

	height: $navbar-height-mobile;
	padding: $navbar-padding-mobile;

	& > .brand {
		@extend %image-replace;
		background-image: url('../img/anycontext-inverse.svg');
		background-size: cover;
		width: 232px;
		height: 39px;
		@include min-width($sm) {
			width: 289px;
		}
	}

	& > .navbar {

		& > ul {
			margin: 0;
			padding: 0;
			& > li {
				& > a {
					@extend .xxl;
				}
			}
		}

	}

}

@include min-width($md) {

	.page-header {
		height: $navbar-height-desktop;
		padding: $navbar-padding-desktop;

		& > .navbar, & > .navbar.open {
			right: $navbar-padding-desktop; left: unset; top: unset; bottom: unset;

			& > ul {
				& > li {
					& > a {
						font-size: 30px;
						font-weight: bold;
						margin: 0 15px;
					}
				}
			}
		}
	}

}




