
// everything to do with screen sizes and break points

$xs: 375px;
$sm: 480px;
$md: 768px;
$lg: 960px;
$xl: 1100px;
$xx: 1440px;
$hd: 1920px;

@mixin min-width($size) {
	@media (min-width: $size) {
		@content;
	}
}
@mixin max-width($size) {
	@media (max-width: $size - 1) {
		@content;
	}	
}

.container {
	position: relative;
	max-width: $xl;
	margin: 0 auto;
}

.container-md {
	@extend .container;
	max-width: $md;	
}
.container-lg {
	@extend .container;
	max-width: $lg;	
}
.container-xl {
	@extend .container;
	max-width: $xl;	
}
.container-xx {
	@extend .container;
	max-width: $xx;	
}

.pad-top {
	padding-top: 10px;
	@include min-width($xs) {

	}
	@include min-width($sm) {
		padding-top: 20px;
	}
	@include min-width($md) {
		padding-top: 40px;
	}
}

.pad-right {
	@include min-width($md) {
		padding-right: 20px;
	}
}

.pad-bottom {
	padding-bottom: 10px;
	@include min-width($xs) {

	}
	@include min-width($sm) {
		padding-bottom: 20px;
	}
	@include min-width($md) {
		padding-bottom: 40px;
	}
}
.pad-bottom-sm {
	@include min-width($sm) {
		padding-bottom: 20px;
	}
}
.pad-bottom-md {
	@include min-width($md) {
		padding-bottom: 40px;
	}
}

// responsive utilites ---
.hide-md-up, .show-sm-down {
	@include min-width($md) {
		display: none !important;
	}
}
.hide-sm-down, .show-md-up {
	@include max-width($md) {
		display: none !important;
	}
}

.hide-lg-up, .show-md-down {
	@include min-width($lg) {
		display: none !important;
	}
}

.hide-md-down, .show-lg-up {
	@include max-width($lg) {
		display: none !important;
	}
}

.show-md-only {
	display: none !important;
	@media (min-width: $md) and (max-width: $lg) {
		display: inherit !important;
	}
}

@mixin retina() {
	@media only screen and (-o-min-device-pixel-ratio: 5/4),
	       only screen and (-webkit-min-device-pixel-ratio: 1.25),
	       only screen and (min--moz-device-pixel-ratio: 1.25),
	       only screen and (min-device-pixel-ratio: 1.25),
	       only screen and (min-resolution: 1.25dppx) {
	       	@content;
	}
}


